<form method="post" action="/create-student">

  <label for="first-name">First Name: </label>
    <input id="first-name" type="text" name="first_name" />

  <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" name="last_name" />

  <label for="age">Age: </label>
    <input id="age" type="number" min="0" name="age" />

  <label for="house">House: </label>
    <select id="house" name="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Hufflepuff">Hufflepuff</option>
    </select>

  <input type="submit" value="Create Student" />

</form>
