.nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  color:#e3c500;
}
.nav li{
  display:inline-block;
  color:#e3c500;
  /* width: 140px; */
}
.nav a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
  color:#e3c500;
  width:140px;
}

.nav a:hover{
  background-color: #7582e6;
}

.new-update {
  width: 500px;
  #e3c500
}

.new-update input {
  width: 100%;
  background-color: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 5px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 5px;
}

.new-update {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}

select {
  width: 100%;
  background-color: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 10px;
  font-family: cursive;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 5px;
}

input[type=text]:focus {
  background-color: lavender;
}

input[type=number]:focus {
  background-color: lavender;
}

select:focus {
  background-color: lavender;
}

.new-update input[type=submit] {
  background-color: #f1f1f1;
  width: 50%;
  font-size: 18px;
  position: relative;
  left: 25%;
  display: block;
  font-family: "Henny Penny";
}

.new-update input[type=submit]:hover {
  background-color: lightblue;
}

.new-update input[type=submit]:active {
  background-color: lightblue;
  margin-top: 7px;
  width: 48%;
  left: 26%;
}

.new-update label{
  font-family: cursive;
  color:#e3c500;
}

h1 {
  font-family:'Henny Penny', cursive;
  text-align:center;
  color:#e3c500;
}

p {
  font-family: "Montserrat";
  text-align:center;
  text-decoration: none;
  color: #e3c500

}

.home-enrol{
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
  text-decoration-line: none;
}

a:-webkit-any-link{
  color: #e3c500;
  cursor: pointer;
  text-decoration: none;
  color:#e3c500
}

.students{
  content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}





body {
  background-color:#472b0a;
}
